/* 
    Created on : Jul 1, 2019, 8:32:59 AM
    Author     : slash
*/

$white: #ffffff;
$silver: #f0f0f0;
$grey: #636363;
$black: #000000;
$blue: #0a8fff;

.purple { background: linear-gradient(to right, #512DA8, #673AB7); }
.wiretap { background: linear-gradient(to right, #F27121, #E94057, #8A2387); }
.quepal { background: linear-gradient(to right, #11998e, #38ef7d); }
.expresso { background: linear-gradient(to right, #ad5389, #3c1053); }
.grade-grey { background: linear-gradient(to right, #bdc3c7, #2c3e50); }
.selenium { background: linear-gradient(to right, #3c3b3f, #605c3c); }
.royal-blue { background: linear-gradient(to right, #bbd2c5, #536976, #292e49); }
.grandeur { background: linear-gradient(to right, #000046, #1cb5e0); }
.behongo { background: linear-gradient(to right, #52c234, #061700); }
.ocean-view { background: linear-gradient(to right, #a8c0ff, #3f2b96); }
.coal { background: linear-gradient(to right, #eb5757, #000000); }
.decent { background: linear-gradient(to right, #009fff, #ec2f4b); }
.shifter { background: linear-gradient(to right, #bc4e9c, #f80759); }
.citrus { background: linear-gradient(to right, #fdc830, #f37335); }
.bighead { background: linear-gradient(to right, #c94b4b, #4b134f); }
.orangefun { background: linear-gradient(to right, #fc4a1a, #f7b733); }
.asteroid { background: linear-gradient(to right, #0f2027, #203a43, #2c5364); }
.sand { background: linear-gradient(to right, #3e5151, #decba4); }
.socialive { background: linear-gradient(to right, #06beb6, #48b1bf); }
.relay { background: linear-gradient(to right, #3a1c71, #d76d77, #ffaf7b); }
.celestial { background: linear-gradient(to right, #c33764, #1d2671); }
.lake { background: linear-gradient(to right, #093028, #237a57); }
.dawn { background: linear-gradient(to right, #f3904f, #3b4371); }
.fifty-shades { background: linear-gradient(to right, #bdc3c7, #2c3e50); }
.turboscent { background: linear-gradient(to right, #f1f2b5, #135058); }
.flickr { background: linear-gradient(to right, #ff0084, #33001b); }
.twitch { background: linear-gradient(to right, #6441a5, #2a0845); }
.flare { background: linear-gradient(to right, #f12711, #f5af19); }
.auber { background: linear-gradient(to right, #aa076b, #61045f); }

.wave {
	background-image: url("../image/bg-shapes/wave.png");
	background-position: 0px 0px;
}
.dots {
	background-image: url("../image/bg-shapes/dots.png");
	background-position: 0px 0px;
}
.triangles {
	background-image: url("../image/bg-shapes/triangles.png");
	background-position: 0px 0px;
}
.triangle2 {
	background-image: url("../image/bg-shapes/triangle2.png");
	background-position: 0px 0px;
}
.hexa {
	background-image: url("../image/bg-shapes/hexa.png");
	background-position: 0px 0px;
}
