/* 
    Created on : Jul 1, 2019, 8:32:59 AM
    Author     : slash
*/

$white: #ffffff;
$silver: #e0e0e0;
$black: #000000;

.purple {
	background: #673AB7;
	background: -webkit-linear-gradient(to right, #512DA8, #673AB7);
	background: linear-gradient(to right, #512DA8, #673AB7);
}