/* 
    Created on : Jul 1, 2019, 8:32:59 AM
    Author     : slash
*/

$white: #ffffff;
$silver: #f0f0f0;
$grey: #636363;
$black: #000000;
$blue: #0a8fff;

.purple { background: linear-gradient(to right, #512DA8, #673AB7); }
.wiretap { background: linear-gradient(to right, #F27121, #E94057, #8A2387); }
.quepal { background: linear-gradient(to right, #11998e, #38ef7d); }
.expresso { background: linear-gradient(to right, #ad5389, #3c1053); }
.grade-grey { background: linear-gradient(to right, #bdc3c7, #2c3e50); }
.selenium { background: linear-gradient(to right, #3c3b3f, #605c3c); }
.royal-blue { background: linear-gradient(to right, #bbd2c5, #536976, #292e49); }
.grandeur { background: linear-gradient(to right, #000046, #1cb5e0); }
.behongo { background: linear-gradient(to right, #52c234, #061700); }
.ocean-view { background: linear-gradient(to right, #a8c0ff, #3f2b96); }
.coal { background: linear-gradient(to right, #eb5757, #000000); }
.decent { background: linear-gradient(to right, #009fff, #ec2f4b); }
.shifter { background: linear-gradient(to right, #bc4e9c, #f80759); }
.citrus { background: linear-gradient(to right, #fdc830, #f37335); }
.bighead { background: linear-gradient(to right, #c94b4b, #4b134f); }
.orangefun { background: linear-gradient(to right, #fc4a1a, #f7b733); }
.asteroid { background: linear-gradient(to right, #0f2027, #203a43, #2c5364); }
.sand { background: linear-gradient(to right, #3e5151, #decba4); }
.socialive { background: linear-gradient(to right, #06beb6, #48b1bf); }
.relay { background: linear-gradient(to right, #3a1c71, #d76d77, #ffaf7b); }
.celestial { background: linear-gradient(to right, #c33764, #1d2671); }
.lake { background: linear-gradient(to right, #093028, #237a57); }
.dawn { background: linear-gradient(to right, #f3904f, #3b4371); }
.fifty-shades { background: linear-gradient(to right, #bdc3c7, #2c3e50); }
.turboscent { background: linear-gradient(to right, #f1f2b5, #135058); }
.flickr { background: linear-gradient(to right, #ff0084, #33001b); }
.twitch { background: linear-gradient(to right, #6441a5, #2a0845); }
.flare { background: linear-gradient(to right, #f12711, #f5af19); }
.auber { background: linear-gradient(to right, #aa076b, #61045f); }

.wave {
	background-image: url("../image/bg-shapes/wave.webp");
	background-position: 0px 0px;
}
.dots {
	background-image: url("../image/bg-shapes/dots.webp");
	background-position: 0px 0px;
}
.triangles {
	background-image: url("../image/bg-shapes/triangles.webp");
	background-position: 0px 0px;
}
.triangle2 {
	background-image: url("../image/bg-shapes/triangle2.webp");
	background-position: 0px 0px;
}
.hexa {
	background-image: url("../image/bg-shapes/hexa.webp");
	background-position: 0px 0px;
}

.toastr {
	position: fixed;
	left: 50%;
	top: 10%;
	height: 40px;
	margin: -30px 0px 0px -125px;
	background-color: #62a8ea;
	border-radius: 2px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
	transition: bottom 0.3s ease-in-out;
	opacity: 0;
	color: #ffffff;
	z-index: 1050;

	.ico {
		display: inline-block;
		font-size: 20px;
		line-height: 40px;
		margin: 0px 20px;
		vertical-align: middle;
		
	}
	.ico-check {
		&:before {
			content: '\2713';
		}
	}
	.ico-close {
		&:before {
			content: '\2715';
		}
	}
	div {
		display: inline-block;
		min-width: 250px;
		max-width: 400px;
		line-height: 20px;
		padding: 0px 20px 0px 0px;
		vertical-align: middle;
	}
}

.toastr[data-index="1"] { bottom: 20px;  }
.toastr[data-index="2"] { bottom: 90px;  }
.toastr[data-index="3"] { bottom: 160px; }
.toastr[data-index="4"] { bottom: 230px; }
.toastr[data-index="5"] { bottom: 300px; }
.toastr[data-index="6"] { bottom: 370px; }
.toastr[data-index="7"] { bottom: 440px; }
.toastr[data-index="8"] { bottom: 510px; }
.toastr[data-index="9"] { bottom: 580px; }