/* 
    Created on : Jul 1, 2019, 8:32:22 AM
    Author     : slash
*/
@import '_colors';

html {
	padding: 0px;
	margin: 0px;
	height: 100%;
	
	body {
		padding: 0px;
		margin: 0px;
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		font-weight: 300;
		height: 100%;
		position: relative;
		
		h1 {
			margin: 0px;
			padding: 0px;
			font-weight: 300;
			color: $white;
		}
		
		.menu {
			position: absolute;
			margin: 0px;
			padding: 0px 0px 0px 0px;
			z-index: 1;
			top: 0px;
			right: 0px;
			height: 100%;
			width: 20px;
			list-style: none;
			background: linear-gradient(
				to right,
				rgba(0, 0, 0, 0.0)   0%,
				rgba(0, 0, 0, 0.2) 100%
			);
			transition: width .1s ease-in-out;
			overflow-y: scroll;
			
			&:hover {
				width: 250px;
				
				a {
					font-size: 14px;
					
					&:before {
						width: 10%;
					}
				}
			}
			
			li {
				margin-bottom: 20px;
				text-align: right;
				text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.9);
				
				a {
					position: relative;
					color: #ffffff;
					padding: 0px 20px 0px 0px;
					display: inline-block;
					line-height: 20px;
					text-align: right;
					font-size: 0px;
					white-space: nowrap;
					
					&:hover:before,
					&:before {
						display: block;
						position: absolute;
						background-color: rgba(255, 255, 255, 0.5);
						bottom: -5px;
						right: 0px;
						width: 100%;
						height: 1px;
						content: '';
						transition: width .2s ease-in-out;
					}
					&:hover:before {
						width: 100%;
					}
				}
				
				&:hover,
				&.active {
					opacity: .75;
				}
				&:last-child {
					margin-bottom: 0px;
				}
			}
		}
			
		.header {
			position: absolute;
			top: 0px;
			left: 0px;
			width: calc(100% - 80px);
			height: 80px;
			padding: 20px 40px;
			z-index: 1;

			img {
				max-height: 60%;
			}
		}
		.app {
			.section {
				.item {
					height: 100%;
					font-size: 0px;
					color: $white;
					position: relative;

					.info {
						display: inline-block;
						vertical-align: top;
						width: calc(40% - 160px);
						padding: 0px 0px 0px 160px;
						text-align: left;
						position: relative;

						.counter {
							font-size: 32px;

							span {
								font-weight: 500;
								
								&:first-child { margin-right: 20px; }
								&:last-child { margin-left: 20px; }
							}
						}
						.category {
							font-size: 20px;
							margin: 20px 0px;
						}
						h1 {
							font-size: 48px;
							line-height: 48px;
						}
						p {
							font-size: 14px;
							margin: 40px 0px 0px 0px;
						}
					}
					.assets {
						display: inline-block;
						vertical-align: top;
						width: 60%;
						height: 100%;
						text-align: center;
						position: relative;

						img {
							position: absolute;
							opacity: 0;
							transition: opacity .1s ease-in-out;
						}
					}
					.overlay {
						position: absolute;
						top: 0px;
						left: 0px;
						width: 100%;
						height: 100%;
						background-size: cover;
					}
				}
			}
		}
	}
}

.btn {
	border-radius: 20px;
	border: none;
	background-image: none;
	text-shadow: none;
	font-weight: 400;
	font-size: 1.2em;
	padding: 10px 20px;
}
.btn-info {
	background-color: $white;
	color: #212121;
}
.btn-info:hover {
	background-color: $silver;
	color: #212121;
}

.btn,
.btn:focus,
.btn:hover,	
a,
a:hover,
a:focus,
a:active {
	outline: none;
	text-decoration: none;
}